
#main
{
	background-color:#E9FAFF;
}
#head
{
	background-color: #E1ECED;
    padding-top:5px;
	height:40px;
}
.input_style
{
	
	height:30px;
}
#title
{
	background-color: #E9FAFF;
	
	
}
#nav
{
	
	
	background-color:#88C6E5;
	
}
.navbar-default {
	background-color:#88C6E5;
}





